<lift:userSnippet.ifNotLoggedIn xmlns:lift="http://www.w3.org/1999/xhtml">
    <lift:userSnippet.login form="post" eager_eval="true">
        <table xmlns:user="http://www.w3.org/1999/xhtml">
            <tr>
                <td>name</td>
                <td>
                    <user:name/>
                </td>
            </tr>
            <tr>
                <td>nick name</td>
                <td>
                    <user:nickName/>
                </td>
            </tr>
            <tr>
                <td>password</td>
                <td>
                    <user:password/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <user:submit/>
                </td>
            </tr>
        </table>

    </lift:userSnippet.login>
</lift:userSnippet.ifNotLoggedIn>

