<lift:productSnippet.edit form="post" eager_eval="true" xmlns:lift="http://www.w3.org/1999/xhtml">
    <table xmlns:product="http://www.w3.org/1999/xhtml">
        <tr>
            <td>quantity in stock</td>
            <td>
                <product:quantityInStock/>
            </td>
        </tr>
        <tr>
            <td>price</td>
            <td>
                <product:price/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <product:submit/>
            </td>
        </tr>
    </table>
</lift:productSnippet.edit>