<lift:productSnippet.list eager_eval="true" xmlns:lift="http://www.w3.org/1999/xhtml">
    <tr xmlns:product="http://www.w3.org/1999/xhtml">
        <td>
            <product:name/>
        </td>
        <td>
            <product:quantityInStock/>
        </td>
        <td>
            <product:price/>
        </td>
        <td>
            <product:edit/>
        </td>
        <td>
            <product:transfer/>
        </td>
        <td>
            <product:addToCart/>
        </td>
    </tr>
</lift:productSnippet.list>